@charset "utf-8";
body{
	font-family: 'Lobster', cursive;
	background-image:url(green.jpg);
	margin:auto;
	width:100%;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.admin{
	height: 40px;
	margin-top: 18px;
	margin-right: 20px;

}
.fig{
	color: white;
	margin-top: 40px;
	margin-right:25px;
}
.ul{
   
	display: flex;
	width: 42%;
	height: 70px;
	
    margin-top: 25px;
	    margin-left: 30px;
	justify-content: space-between;
	text-align: center;
}
.li {
    font-size: 60%;
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 20px;
	margin: auto;
}

.li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
.li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 1px 20px;
  color: #ccc;
  text-decoration: none;
}

.logooo{
	border-radius: 50px;
	height: 100%px;
	padding: 5px;
	width: 6.8%;
    margin-top:-8.5px;
}
.head1{
	width:100%;
	
	background-color:black;
	height:13%;
	position:fixed;
	display:flex;
}
.head2{
	
	position:fixed;
	margin-left: 56%;
	margin-top: 1%;
	padding:3px;
	width:12%;
	
}
.bt{
    border-radius: 20px;
	border: 1px solid rgb(76, 136, 60);
	background-color: rgb(76, 136, 60);
	color: #FFFFFF;
	
	
	
	
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    height: 22px;
    margin-top: 34px;
    width: 5%;
    padding-bottom: 5px;
    margin-right:5px;
}
.ip1{
    margin-top: 34px;
	width:12%;
    height: 20px;
	border-radius:15px;
    margin-right:15px;

}
a{
	text-decoration: none;
}
.heading{
	 color:white;
	 margin-top: 30px;
     margin-left: 60px;
    
	text-decoration: none; 
	 
	 
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4CAF50, 0 0 40px #4CAF50, 0 0 50px #4CAF50, 0 0 60px #4CAF50, 0 0 70px #4CAF50, 0 0 80px #4CAF50;
    }
}  

html{
  margin: 0;
  padding: 0;
  background: url(p2.jpg);
  background-repeat: repeat;  
  background-size: contain; 
}
.logo{
	width:50px;
	height:50px;
	border: thick;
	border-radius:20px; 

	display:inline;
}

header{
	display:inline;
	
}

#b1{
            height: 100%;
            width: 100%;
			background-image:url(../photo/back.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
#b2{

width: 100%;
background-image:url(../photo/76936880_555033178650158_5928925441178817331_n.jpg);
background-size: cover;
display: table;
background-attachment: fixed;
margin-bottom: 60px;
        }
.box{
  box-shadow:0 0 8px 3px orange;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 10%;
  color: white;
  font-family: Baskervville;
}
.img1{
  width: 205px;
  height: 200px;
  border-radius:50%;
}
img:hover{
    transform: scale(1.5);
}

h1{
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 100;
}
  h1:hover{
	  color:red;
 }
h3{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 10px;
}
  h3:hover{
	  color:red;
 }
 p{
  text-align: justify;

  }
    P:hover{
	  color:red;
 }
li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.a1{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.a1:hover{
	color:red;
}

#clock{

width:150px;
font-size:40px;
margin:0px;
text-align:center;
    position: absolute;
    color: black;

}




.contact-section{
  background-size: cover;
  
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 110px;
  height: 10px;
  background: #34495e;
  margin: 15px auto;
}


.form{
  max-width: 600px;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}

.text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.text:focus{
  box-shadow: 0 0 10px 3px red;
}
textarea.text{
  resize: none;
  height: 120px;
}
.btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover{
  background: blue;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.clr{
	float:none;
}
@media screen and (max-width: 1200px){


}
@media only screen and (max-width:850px){

.nav1{
		display:none;
	}
	.nav2{
		display:block;
	}
     nav{
	margin:0px;
	float:none;
	width:100%;
	
	
}
.link{
	display:block;
	text-align:center;
	
}
	ul,li{
		display: block;
	}
	.box{
		max-width:400px;
	}

	
}
@media screen and (max-width: 500px){
.box{
		max-width:300px;
	}

}
