body{
	font-family: 'Lobster', cursive;
	background-image:url(green.jpg);
	margin:auto;
	width:100%;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.admin{
	height: 40px;
	margin-top: 18px;
	margin-right: 20px;

}
.fig{
	color: white;
	margin-top: 40px;
	margin-right:25px;
}
.ul{
   
	display: flex;
	width: 42%;
	height: 70px;
	
    margin-top: 25px;
	    margin-left: 30px;
	justify-content: space-between;
	text-align: center;
}
.li {
    font-size: 60%;
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 20px;
	margin: auto;
}

.li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
.li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 1px 20px;
  color: #ccc;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.body {
	
	display: flex;
    
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 90vh;
	margin: -20px 0 50px;
}

.h {
	font-weight: bold;
	margin: 0;
}


.par {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}


.b1 {
	border-radius: 20px;
	border: 1px solid green;
	background-color: blue;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.b1:active {
	transform: scale(0.95);
}

.b1:focus {
	outline: none;
}

.b1.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form {
	background-color: rgb(192, 184, 184);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: green;
	background: -webkit-linear-gradient(to right, rgb(21, 77, 21), green);
	background: linear-gradient(to right, rgb(6, 61, 6), rgb(54, 173, 54));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.logooo{
	border-radius: 50px;
	height: 100%px;
	padding: 5px;
	width: 6.8%;
    margin-top:-8.5px;
}
.head1{
	width:100%;
	
	background-color:black;
	height:13%;
	position:fixed;
	display:flex;
}
.head2{
	
	position:fixed;
	margin-left: 56%;
	margin-top: 1%;
	padding:3px;
	width:12%;
	
}
.bt{
    border-radius: 20px;
	border: 1px solid rgb(76, 136, 60);
	background-color: rgb(76, 136, 60);
	color: #FFFFFF;
	
	
	
	
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    height: 22px;
    margin-top: 34px;
    width: 5%;
    padding-bottom: 5px;
    margin-right:5px;
}
.ip1{
    margin-top: 34px;
	width:12%;
    height: 20px;
	border-radius:15px;
    margin-right:15px;

}
.heading{
	 color:white;
	 margin-top: 30px;
     margin-left: 60px;
    
	text-decoration: none; 
	 
	 
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4CAF50, 0 0 40px #4CAF50, 0 0 50px #4CAF50, 0 0 60px #4CAF50, 0 0 70px #4CAF50, 0 0 80px #4CAF50;
    }
}  